repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-docstring-first
    -   id: check-yaml
    -   id: check-added-large-files
# ruff
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.9
    hooks:
    -   id: ruff
        args: [ --fix ]
        files: ^ads
        exclude: ^docs/
    -   id: ruff-format
        exclude: ^docs/
# Hardcoded secrets and ocids detector
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.17.0
    hooks:
    -   id: gitleaks
# Oracle copyright checker
-   repo: https://github.com/oracle-samples/oci-data-science-ai-samples/
    rev: cbe0136
    hooks:
    -   id: check-copyright
        name: check-copyright
        entry: .pre-commit-scripts/check-copyright.py
        language: script
        types_or: ['python', 'shell', 'bash']
        exclude: ^docs/
